body {
    background-color: yellow;
}
h1{
	font-family: cursive;
	font-size: 48px;
	text-align: center;
	text-shadow: -2px 2px gray;
}
h2{

}
img{
	border-color: black;
	border-width: 2px;
	border-style: solid;
		
}
